body, input, table, p {
    font-family: 'Roboto', sans-serif;
}
h1, h2, button {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-weight: 300;
    font-size: 3em;
    color: #505160;
}
.content {
    width: 33%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
input, button {
    border: none;
}
input {
    width: 70%;                
    border-bottom: 1px solid #2A3132;
    color: #2A3132;
    font-size: 1.1em;
}
input, button {
    margin-bottom: 30px;      
}
button {
    padding: 10px 50px;
    border-radius: 20px;
    background-color: #505160;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid #2A3132;
    text-align: center;
    padding: 10px;
}